<?xml version="1.0" encoding="UTF-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Include>
			<ModulePath>.*\\src\\.*</ModulePath>
          </Include>
          <Exclude>
            <ModulePath>.*\\.*\.Test[s]?</ModulePath>
            <ModulePath>.*\\test\\.*</ModulePath>
            <ModulePath>.*\\tools\\.*</ModulePath>
          </Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <xUnit>
    <!-- NOTE: xUnit, Slow performance on discovery / running due to discovering TestReporters -->
    <!-- See PR fix in https://github.com/xunit/visualstudio.xunit/issues/317 -->
    <!-- See below mitigation in https://github.com/xunit/xunit/issues/2549. -->
    <NoAutoReporters>true</NoAutoReporters>
  </xUnit>
</RunSettings>
